[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
streamlit = "*"
beautifulsoup4 = "*"
langchain = "*"
tiktoken = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
